# utilisation des wildcards * et **
# *: toute suite de caractères
# **: toutes suite de sous dossiers
# utilisation partielle des expressions régulières
.vscode/**/[sS]ettings*
project
# exception à une règle précédente
!.vscode/project
# ignore le dossier et son contenu
.vscode/